@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url(assets/fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url(assets/fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url(assets/fonts/Poppins-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  src: url(assets/fonts/Poppins-Italic.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  src: url(assets/fonts/Poppins-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-display: swap;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --font-family: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

html {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--off-black);
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 35rem;
  background-color: var(--white);
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 13rem;
  padding: 3rem 2rem;
  gap: 1.5rem;
}

.input {
  width: 7.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  justify-content: flex-start;
}

.input label {
  font-size: .8rem;
  font-weight: var(--font-weight-bold);
  color: var(--smokey-grey);
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.input input {
  width: 100%;
  height: 4rem;
  border-radius: .5rem;
  border: 1px solid var(--light-grey);
  padding: 1rem;
  cursor: pointer;
  font-size: 1.6em;
  font-weight: var(--font-weight-bold);
  color: var(--off-black);
}

.input input::placeholder {
  text-transform: uppercase;
}

.input input:focus,
.input input:active,
.input input:hover {
  outline: none;
  border: 1px solid var(--purple);
}

.input span {
  display: none;
  font-size: 1.2em;
  font-weight: var(--font-weight-bold);
  color: var(--light-red);
}

.input.invalid,
.input.invalid label,
.input.invalid input {
  color: var(--light-red);
}

.input.invalid input {
  border: 1px solid var(--light-red);
}

.input.invalid span {
  display: block;
}